html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  background-color: grey;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 96px;
  height: 96px;
  border: 1px black solid;
  border-radius: 50%;
  background-color: rgba(129, 136, 136, 0.548);
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  border: solid black 2px;
  width: auto;
  max-width: 800px;
  margin: auto;
  background-color: rgb(202, 90, 90);
  padding-top: 50px;
}
.child {
  flex: 0 0 auto;
  margin: 10px;
}
h1 {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.main {
  background-color: grey;
}
.load {
  font-size: x-large;
}
.bout {
  position: absolute;
  color: white;
  margin-top: -30px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.flex-child {
  color: black;
  justify-content: center;
  width: auto;
  max-width: 250px;
  min-height: 250px;
  max-height: 270px;
  text-align: center;
  flex: 1 0;
  border: 2px solid black;
  border-radius: 10%;
  background-color: rgb(0, 117, 117);
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bolder;
}
.player-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  border: solid black 2px;
  width: auto;
  max-width: auto;
  margin: auto;
  background-color: rgb(202, 90, 90);
  padding-top: 50px;
}
