.layout {
  border: solid black 2px;
  display: flex;
  width: 592px;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  background-color: grey;
}
.main {
align-items: center;
text-align: center;
box-sizing: content-box;
  background-color: rgb(184, 181, 194);
  padding: 5px;
  box-sizing: content-box;
  margin: auto;
}